.login-cover{
	background: url('https://static.pexels.com/photos/167682/pexels-photo-167682.jpeg') fixed;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userLoader{
	display: none;
}

#loginError{
	display: none;
}

#mainFunction{


}